@import '../../css/global_styles.css';

/*.dropdown-container{
    width: 97%;
    height: 4rem;
    margin: 1rem;
    
}
.dropdown-headerinactive:hover {
    width: 95%;
    height: 60%;
    padding: 0.67857143em 2.1em 0.67857143em 1em;
    border: 1px solid rgba(34,36,38,.35);;
    border-radius: 0.2rem;
    box-shadow: 0 2px 3px 0 rgb(34 36 38 / 15%);
}
.dropdown-headeractive {
    width: 95%;
    height: 60%;
    padding: 0.67857143em 2.1em 0.67857143em 1em;
    border: 1px 1px 0 1px #96c8da;
    
    border-radius: 0.2rem;
    
}
.dropdown-header input{
    width: 98%;
}
.visible-options {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}*/

.dropdown {
  width: 95%;
  display: inline-block;
  background-color: #fff;
  font-size: 4vmin;
}
.select {
  cursor: pointer;
  display: block;
  padding: 10px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  color: #474747;
  text-align: left
}

.select:hover{
    outline: 1px solid rgba(34,36,38,.35);
}

.active{
    border: 2px 2px 0 2px #96c8da;
    outline: 1px solid #96c8da;
    transition: all 0.2s ease-in-out;
    border-radius: 2px 2px 0 0;
}

.active:hover {
    border: 2px #96c8da;
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}

.input-option {
    width: 95%;
    border: 0 2px 2px 2px #96c8da;
}

.dropdown-menu {
    padding: 0;
    list-style: none;
    position: absolute;
    background-color: var(--width-color);
    width: 95%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    outline: 1px solid #96c8da;
    border-radius: 0 1px 2px 2px ;
    overflow: hidden;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}

.dropdown-menu li {
    padding: 2vmin;
    border-bottom: 1px solid rgba(204,204,204,0.38);
    transition: all .2s ease-in-out;
    cursor: pointer;
}  
.dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown-menu li:active {
    background-color: #e2e2e2
}