@import '../../css/global_styles.css';


.textarea-modal{
    display: flex;
    border: var(--border-solid);
    width: 100%;
    height: 70px;
    padding: 1em;
    resize: none;
    outline: none;
    border-radius: var(--radius);
}

.textarea-modal-container label {
    font-size: var(--fs-13);
    /* padding: 10px 0; */
}

/* Classes for the variants*/
.sb-background-white{ background-color: var(--white-color); color: var(--dark-color)}
.sb-background-black{ background-color: var(--dark-color); color: var(--white-color)}
.storybook-textarea--border-radius { border-radius: var(--radius) }

