@import '../../css/global_styles.css';


label{
    display: flex;
    margin-left: 1em;
    margin-top: 1em;
}
textArea{
    display: flex;
    margin: 1em;
    border: 1px solid grey;
    width: 98%;
    padding: 1em;
}
.sb-background-white{ background-color: var(--white-color); color: var(--dark-color)}
.sb-background-black{ background-color: var(--dark-color); color: var(--white-color)}
.storybook-button--border-radius { border-radius: 2em }

