@import '../../css/global_styles.css';


label{
    display: flex;
    padding: 10px 0;
}
textArea{
    display: flex;
    border: var(--border-solid);
    width: 98%;
    padding: 1em;
}

/* Classes for the variants*/
.sb-background-white{ background-color: var(--white-color); color: var(--dark-color)}
.sb-background-black{ background-color: var(--dark-color); color: var(--white-color)}
.storybook-textarea--border-radius { border-radius: var(--radius-24) }

