/* Global Styles */
@import './global_styles.css';

/* Input 
------------------------------*/
.input-container {
    width: 100%;
}

.input-content {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.input-control {
    width: 100%;
    height: 100%;
    border: 1px solid var(--white-gray-color);
    border-radius: var(--radius);
    background-color: var(--white-gray-color);
    padding: 10px 20px;
    transition: var(--transition);
    color: var(--font-color);
    font-size: var(--fs-14);
    letter-spacing: 1px;
}

.input-control:focus { background-color: transparent;}

.input-container-legend {
    width: 100%;
    height: 0;
    background-color: var(--danger-color-disabled);
    color: var(--white-color);
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    font-size: var(--fs-13);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.input-container-legend.activated {
    height: 40px;
    padding: 10px 20px;
    opacity: 1;
    visibility: visible;
}

/* Input With Icon 
------------------------------*/
.input-control--icon { padding: 10px 20px 10px 35px; }

.input-control--icon ~ svg {
    position: absolute;
    left: 15px;
    transition: var(--transition);
}

.input-control--icon:focus { padding: 10px 20px; }

.input-control--icon:focus ~ svg{
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
}

/* Input Rounded
------------------------------*/
.input-control.rounded { border-radius: var(--radius-48); }
.input-container-legend.rounded { border-radius: var(--radius-48); }

/* Input Size
------------------------------*/
.input-content-size--small {
    height: 35px;
    font-size: var(--fs-13);
}

.input-content-size--medium {
    height: 45px;
    font-size: var(--fs-14);
}

.input-content-size--large {
    height: 55px;
    font-size: var(--fs-14);
}

/* Input Width
------------------------------*/
.input-container--small {
    width: 25%;
}

.input-container--medium {
    width: 50%;
}

.input-container--large {
    width: 75%;
}

.input-container--all {
    width: 100%;
}

/* Input dark
------------------------------*/
.input-control.dark {
    background: var(--dark-color);
    color: var(--white-color);
    border-color: var(--dark-gray-color);
}

.input-control.dark:focus {
    background: var(--dark-gray-color);
}

/* Input Secondary Variant
------------------------------*/
.input-control-variant--secondary {
    background: transparent;
}

.input-control-variant--secondary ~ label {
    position: absolute;
    left: 10px;
    padding: 0 10px;
    top: 15px;
    transition: var(--transition);
}

.input-control-variant--secondary:focus ~ label {
    transform: translateY(-140%);
    background-color: var(--white-color);
    font-size: var(--fs-12);
}

.input-control-variant--secondary.activated ~ label {
    transform: translateY(-140%);
    background-color: var(--white-color);
    font-size: var(--fs-12);
}

/* Input Secondary Variant Size
------------------------------*/
.input-content-size--small .input-control-variant--secondary ~ label { top: 10px; }

.input-content-size--small .input-control-variant--secondary:focus ~ label { transform: translateY(-110%); }

.input-content-size--small .input-control-variant--secondary.activated ~ label { transform: translateY(-110%); }

.input-content-size--large .input-control-variant--secondary ~ label { top: 20px; }

.input-content-size--large .input-control-variant--secondary:focus ~ label { transform: translateY(-180%); }

.input-content-size--large .input-control-variant--secondary.activated ~ label { top: 20px; }

/* Input Secondary Variant Dark
------------------------------*/
.input-control-variant--secondary.dark,
.input-control-variant--secondary.dark:focus {
    background-color: transparent;
    color: var(--font-color);
}

.input-control-variant--secondary.dark:focus ~ label {
    background-color: var(--dark-color);
    color: var(--white-color);
}

.input-control-variant--secondary.dark.activated ~ label {
    background-color: var(--dark-color);
    color: var(--white-color);
}