.storybook-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--border-radius {
  border-radius: 3rem;
}
.storybook-button--beforeSave {
  color: white;
  background-color: #0069CB;
}
.storybook-button--afterSave {
  color: #0069CB;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
