.column {
    float: left;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            300px,
            1fr
        )
    );
    gap: 16px;
}

.qc3{
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

@media screen and (max-width: 360px) {
    .column {
        max-height: auto;
        max-width: 320px;
    }
}


