.column {
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px; */
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 20px 50px;
}

.column form, .column .calendar {
    width: 100%;
}

.row{
    grid-auto-rows: auto;
}

@media screen and (max-width: 430px) {
    .column {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }
}