*{
    margin: 2px;
}
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    padding: 1rem;
    padding-top: 4rem;
    background-color: white;
    max-width: 800px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
}

/* Modal rounded variant */
.storybook-modal--border-radius {
    border-radius: 48px;
}

/* Modal  variant */
.storybook-modal--light {
    color: black;
    background-color: white;
}

.storybook-modal--dark {
    color: white;
    background-color: black;
}

/* Modal small variant */
.storybook-modal--small {
    max-height: 200px;
    max-width: 400px;
  }

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}


@media screen and (max-width: 360px) {
    .modal-container {
        max-width: 360px;
        max-height: 640px;
    }
}

@media screen and (max-width: 1366px) {
    .modal-container {
        max-width: 1366px;
        max-height: 768px;
    }
}