/* Global Styles */
@import '../../../css/global_styles.css';

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: show 0.5s ease;
}


.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
  
.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: white;
    width: 800px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    transition: var(--transition);
    animation: showUp 0.5s ease;
}

/* Modal rounded variant */
.storybook-modal--border-radius {
    border-radius: 0%;
}

/* Modal  variant */
.storybook-modal--light {
    color: black;
    background-color: white;
}

.storybook-modal--dark {
    color: white;
    background-color: black;
}

/* Modal small variant */
.storybook-modal--small {
    max-height: auto;
    max-width: 420px;
}

/* Modal medium variant */
.storybook-modal--medium {
    max-height: auto;
    max-width: 720px;
}

/* Modal large variant */
.storybook-modal--large {
    max-height: auto;
    max-width: 1080px;
}

/* Scrollbar */

.modal-container::-webkit-scrollbar {
    width: 2px;
    border-radius: var(--radius);
  }

.modal-container::-webkit-scrollbar-track {
background: #f1f1f1;
}

.modal-container::-webkit-scrollbar-thumb {
background: var(--primary-color);
border-radius: var(--radius);
}

.modal-container::-webkit-scrollbar-thumb:hover {
background: var(--primary-color-hover);
}