*{
    margin: 2px;
}
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    display: flex;
}


.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
  
.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    padding: 1rem;
    padding-top: 4rem;
    background-color: white;
    max-width: 800px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
}

/* Modal rounded variant */
.storybook-modal--border-radius {
    border-radius: 0%;
}

/* Modal  variant */
.storybook-modal--light {
    color: black;
    background-color: white;
}

.storybook-modal--dark {
    color: white;
    background-color: black;
}

/* Modal small variant */
.storybook-modal--small {
    max-height: auto;
    min-width: 360px;
    max-width: 360px;
}

/* Modal medium variant */
.storybook-modal--medium {
    max-height: auto;
    min-width: 720px;
    max-width: 720px;
}

/* Modal large variant */
.storybook-modal--large {
    max-height: auto;
    min-width: 1080px;
    max-width: 1080px;
}